@import "../../conmon/variable";

.main-wrap {
    display: block;
    height: calc(100% - 100px);
    background-color: $body_bg_color;
    .main-left, .main-right {
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .main-left {
        display: inline-block;
        width: 215px;
        border-right: 1px solid $border_color;
    }
    .main-right {
        display: inline-block;
        width: calc(100% - 215px);
    }
}