@import "../../../conmon/variable";

.profile-wrap{
    display: inline-block;
    .profile-picture,.profile-nick {
        cursor: pointer;
        color: $font_color;
    }
    .profile-picture {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: $main_bg_color;
        img {
            width: inherit;
            height: inherit;
            border-radius: 50%;
            vertical-align: text-top;
        }
        &:hover {
            box-shadow: 1px 0px 24px lightgoldenrodyellow;
        }
    }
    .profile-nick {
        cursor: pointer;
        &:hover {
            color: rgba($color: #FFFFFF, $alpha: 1);
        }
        .profile-nick-name {
            font-size: 12px;
            max-width: 70px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
        }
        .profile-nick-name, .profile-caret-down{
            font-style: normal;
        }
    }
}