@import "../../conmon/variable";

.header-wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    color: $font_color;
    background-color: $main_clolor;
    .header-left {
        float: left;
    }
    .header-right {
        float: right;
    }
    &:before,&:after {
        content: " ";
        display: block;
        clear: both;
    }
}