@import "../../../../conmon/variable";

.bar-wrap {
    border-bottom: 1px solid $border_color;
    > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        > li {
            display: inline-block;
            font-size: 14px;
            width: 64px;
            
            margin-right: 24px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                color: $main_clolor;
                border-bottom-color: $main_clolor;
            }
            &:hover {
                color: $main_clolor;
            }
            a {
                display: inline-block;
                padding: 14px 0;
                width: 100%;
                color: #333333;
                text-decoration: none;
            }
        }
    }
}